@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Xanh+Mono:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .border-test {
    border: 2px red solid;
    }
}

#banner {
    border: 1px white solid;
    background-color: blue;
    color: yellow;
}

#banner::before {
    content: "Slava Ukraini!";
}

.table-responsive {
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    grid-template-rows: repeat(3, minmax(240px, 1fr));
    border: 3px red solid;
  }